/* ===========================================
   settings.typography
   ========================================= */

/**
 * High-level settings and variables,
 * that are accessible in whole project
*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

// Font families

$font-primary: 'Open Sans', sans-serif;





// Font weights

$font-weight--bold:     700;
$font-weight--regular:  400;





// Font sizes

$font-size--h1:   36px;
$font-size--h2:   32px;
$font-size--h3:   24px;

$font-size--lg:   20px;
$font-size--base: 16px;
$font-size--sm:   14px;
$font-size--xs:   12px;





// Responsive multipliers
// These are used for declaring responsive adjustments to:
// Font sizes, and icons

$mobile-multiplier--base:   0.75;
$mobile-multiplier--subtle: 0.85;





// Line heights

$line-height--base:   1.45;
$line-height--sm:     1.1;
