/* ===========================================
   settings.colors
   ========================================= */

/**
 * High-level settings and variables,
 * that are accessible in whole project
*/

$color-primary:             #5da20f;

$color-dark:                #000000;
$color-light:               #ffffff;

$color-grey-100:            #2a2a2a;
$color-grey-200:            #999999;