/*------------------------------------*\
		1-settings.global
\*------------------------------------*/

/**
 * High-level settings and variables,
 * that are accessible in whole project
*/

$border-radius: 4px;


$content-width:           1220px;
$content-width--narrow:   480px;


$icon-size: 14px;