/* ===========================================
   elements.page
   ========================================= */

/**
 * Elements – unclassed HTML elements,
 * redefine browsers' default styling
*/

html {
	font-family: $font-primary;
	font-size: $font-size--base;
	line-height: $line-height--base;
	font-weight: $font-weight--regular;
	color: $color-dark;
	background: $color-light;
	-webkit-font-smoothing: antialiased;
}