/* ===========================================
   elements.headings
   ========================================= */

/**
 * Elements – unclassed HTML elements,
 * redefine browsers' default styling
*/

p {
	font-size: $font-size--sm;
	font-weight: $font-weight--regular;

	@include mq('sm') {
		font-size: $font-size--base;
	}
}
