/* ===========================================
   elements.headings
   ========================================= */

/**
 * Elements – unclassed HTML elements,
 * redefine browsers' default styling
*/

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	@include break-word();
}

h1 {
	margin-bottom: 0.5em;

	font-size: $font-size--h1 * $mobile-multiplier--base;
	line-height: $line-height--sm;
	font-weight: $font-weight--regular;

	@include mq('sm') {
		font-size: $font-size--h1;
	}
}

h2 {
	margin-bottom: 0.5em;

	font-size: $font-size--h2 * $mobile-multiplier--base;
	line-height: $line-height--sm;
	font-weight: $font-weight--regular;

	@include mq('sm') {
		font-size: $font-size--h2;
	}
}

h3 {
	margin-bottom: 0.6em;

	font-size: $font-size--h3 * $mobile-multiplier--base;
	line-height: $line-height--sm;
	font-weight: $font-weight--regular;

	@include mq('sm') {
		font-size: $font-size--h3;
	}
}