/*------------------------------------*\
		MastHead.scss
\*------------------------------------*/

@import "./styles/imports.scss";

.masthead {
	position: relative;
}

.masthead__content {
	position: relative;
	z-index: 10;
}

.masthead__title {
	font-size: $font-size--h1;

	@include mq('sm') {
		font-size: $font-size--h2;
	}
}

.masthead__lead {

}

.masthead__image {
	width: 100%;
	height: 100%;
	object-fit: cover;

	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
}